<!doctype html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../css/folha_comum.css">
    <link rel="stylesheet" href="../../dist/css/bootstrap.min.css">

    <title>Dashbord</title>
</head>

<body>
    <h1>DASHBORD</h1>
    <div class="container " name="principalDiv" id="principalDiv">
        <div class="row ">
            <!-- <form action="http://localhost:3000/listarIndicadores/" method="GET"> -->
            <div> <button type="button " class="btn btn-outline-dark " name="btNovoInd" id="btNovoInd">Novo Indicador</button></div>
            <input type="hidden" name="tipobusca" id="tipobusca" value="Todos">
            <div><a href="http://localhost:3000/indicadores/" class="btn btn-outline-dark ">Painel de Controle</a></div>

            </br>
            <!-- </form> -->
        </div>
        <div class="row linhasPrincipal ">

        </div>
    </div>

    <script src="../../dist/js/jquery.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="../../dist/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="../../dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <!-- Optional JavaScript -->
    <!-- <script type="aplication/javascript " src="indicadores/dados.json "></script> -->
    <script type="text/javascript " src="https://www.gstatic.com/charts/loader.js "></script>
    <script type="text/javascript " src="/dist/js/indicadores.js "></script>
    <script type="text/javascript " src="/dist/js/estrutura.js "></script>
    <script type="text/javascript " src="/dist/js/dashbord.js "></script>
    <script type="text/javascript " src="/dist/js/bddados.js "></script>



</body>

</html>